@model Version1.ViewModels.Team.TeamDetailViewModel

<div class="row">
    <h3>Team: @Model.TeamName</h3>

    <br />

    <a asp-area="Management" asp-controller="TeamManage" asp-action="NewLeader" asp-route-id="@Model.TeamId" class="btn btn-default">Add/Change Leader</a>

    <br />

    <h4>Team Leader</h4>
    <div class="col-md-6">
        <img src="~/images/portrait/@Model.LeaderPortrait" align="left" height="210" width="190">
    </div>

    <div class="col-md-6">
        <ul class="list-group">
            <li class="list-group-item">
                First Name: @Model.LeaderFirstName
            </li>
            <li class="list-group-item">
                Last Name: @Model.LeaderLastName
            </li>
            <li class="list-group-item">
                Contact: @Model.LeaderContact
            </li>
        </ul>
    </div>

</div>

<div>
    <h4>Team Members</h4>

    <ul class="list-group">
        @foreach(var member in Model.TeamMemberDetails)
        {
            <li class="list-group-item">
                <a asp-area="Management" asp-controller="Volunteer" asp-action="Details" asp-route-id=@member.VolunteerId> @member.FirstName @member.LastName</a>
            </li>
        }
    </ul>
</div>
<br />

<a asp-area="Management" asp-controller="TeamManage" asp-action="TeamMember" asp-route-id="@Model.TeamId" class="btn btn-default">Add New Member</a>

<br />

@*<dl class="dl-horizontal">
    <dt>
    </dt>
    <dd align="center" style="font-size:xx-large">
        @Html.DisplayFor(model => model.TeamName)

    </dd>
    <dd></dd>
    <dt style="font-size:medium">
        Team Leader
    </dt>
    <dd>
        <div><img src="~/images/portrait/@Model.LeaderPortrait" align="left" height="210" width="190" display=inline> </div>
        <div>
            <dl style="float:left;"><dt style="font-size:medium">Leader Name:</dt><dd>@Model.LeaderFirstName @Model.LeaderLastName</dd></dl>
            <dl style="float:left;"><dt style="font-size:medium">Leader Contact:</dt><dd>@Model.LeaderContact</dd></dl>
        </div>
    </dd>*@
@*<dt style="font-size:medium">
            Mumbers List
        </dt>
        <dd>
            (sum:
            @Model.TeamMemberDetails.Count @{ string p;}
            @{if(Model.TeamMemberDetails.Count > 1)
                {
                    p = "members";
                }
                else
                {
                    p = "member";
                }
            }
            @p)
        </dd>

        @{ int i = 0;}
        @foreach(var item in Model.TeamMemberDetails)
        {

            <dd>
                @{i = i + 1;}
                @i:<a asp-area="Management" asp-controller="Volunteer" asp-action="Details" asp-route-id=@item.VolunteerId>@item.FirstName @item.LastName </a>
            </dd>
                    }
        <dd>  <a asp-area="Management" asp-controller="TeamManage" asp-action="TeamMember" asp-route-id="@Model.TeamId">Add New Member</a> </dd>

        </dl>
    </div>*@

<div>
    <a asp-area="Management" asp-controller="TeamManage" asp-action="Edit" asp-route-id="@Model.TeamId" class="btn btn-default">Edit</a>
    <a asp-area="Management" asp-controller="TeamManage" asp-action="Index" class="btn btn-default">Back to List</a>
</div>

@section scripts{
    <script type="text/javascript">

        $(document).ready(function () {
            $('.btneditAuthorization').click(function (event) {
                event.preventDefault();
                if ($(this).attr('value') == 'true') {
                    $(this).attr('value', 'false');
                    $(this).removeClass('glyphicon-ok').addClass('glyphicon-remove');
                }
                else if ($(this).attr('value') == 'false') {
                    $(this).attr('value', 'true');
                    $(this).removeClass('glyphicon-remove').addClass('glyphicon-ok');
                }
            });
        });
    </script>

    <script type="text/javascript">
        $(document).ready(function () {
            $('#formAuthorizationUpdate').on('click', '#submit', function (event) {
                event.preventDefault();
                var dict = [];
                $('.btneditAuthorization').each(function (index) {
                    if ($(this).attr('value') == 'true') {
                        var item = { RoleID: $(this).attr('itemid'), Authorization_Object_ID: $(this).attr('name') };
                        dict.push(item);
                    }
                    else { }
                });
                var postUrl = '/Management/Authorization_Object_Role/Update';
                // Post and return to the given view is there is nothing to return.
                $.post(postUrl, { AuthorizationDone: dict }, function (result) {
                    window.location.assign("/Management/Authorization_Object_Role/Index");
                    alert('You have finished change!');
                });
            });
        });

    </script>

}
