@model Version1.ViewModels.Team.TeamMemberViewModel

<h1>Configuration of Team and Volunteer</h1>
<a asp-area="Management" asp-controller="Teams" asp-action="Create">Add a new Team</a>
<form id="teammumber" asp-area="Management" asp-controller="TeamManage" asp-action="TeamMember" method="post" role="form">
    <table id="teamMumbertable" class="table">
        <thead>
            <tr>
                <th>Volunteers/Teams</th>
                @foreach(var item in Model.Teams)
                {
                    <th>
                        <a asp-area="Management" asp-controller="TeamManage" asp-action="Details" asp-route-id="@item.TeamId"> @item.TeamName   </a>
                    </th>
                }
            </tr>
        </thead>
        <tbody>
            @foreach(var p in Model.Volunteers)
            {
                <tr>
                    <td>
                        <a asp-area="Management" asp-controller="Volunteer" asp-action="Details" asp-route-id="@p.Id">@p.FirstName @p.LastName </a>
                    </td>
                    @foreach(var k in Model.Teams)
                    {
                        <td>

                            @if(Model.Members.Where(i => i.TeamId == k.TeamId).Where(j => j.UserID == p.Id).ToList().Count > 0)
                            {
                                <div class="btneditTeammumber btn btn-sm glyphicon glyphicon-ok" role="checkbox" value="true" itemid="@p.Id" name="@k.TeamId"></div>
                            }
                            else
                            {
                                <div class="btneditTeammumber btn btn-sm glyphicon glyphicon-remove" role="checkbox" value="false" itemid="@p.Id" name="@k.TeamId"></div>
                            }
                        </td>
                    }
                </tr>
            }
        </tbody>
    </table>
    <button id="submit" class="btn btn-default btnSubmit" role="button">Save Team-Mumber</button>
</form>
@section scripts{
    <script type="text/javascript">

        $(document).ready(function () {
            $('.btneditTeammumber').click(function (event) {
                event.preventDefault();
                if ($(this).attr('value') == 'true') {
                    $(this).attr('value', 'false');
                    $(this).removeClass('glyphicon-ok').addClass('glyphicon-remove');
                }
                else if ($(this).attr('value') == 'false') {
                    $(this).attr('value', 'true');
                    $(this).removeClass('glyphicon-remove').addClass('glyphicon-ok');
                }
            });
        });

    </script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#teammumber').on('click', '#submit', function (event) {
                event.preventDefault();
                var dict = [];
                $('.btneditTeammumber').each(function (index) {
                    if ($(this).attr('value') == 'true') {
                        var item = { TeamId: $(this).attr('name'), UserID: $(this).attr('itemid') };
                        dict.push(item);
                    }
                    else { }
                });
                var postUrl = '/Management/TeamManage/Update';
                // Post and return to the given view is there is nothing to return.
                $.post(postUrl, { Members: dict }, function (result) {
                    window.location.assign("/Management/TeamManage/Index");
                    // window.history.go(-1).reload();
                    alert('You have finished change!');

                });

            });
        });

    </script>
}