@model Version1.Models.Authorization_Object

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>authorization_Object</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ObjectName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ObjectName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ObjectType)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ObjectType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FullControllerName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FullControllerName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ActionName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ActionName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ObjectDescription)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ObjectDescription)
        </dd>
    </dl>
    
    <form  asp-route-area="management" asp-route-id=@Model.ID asp-action="Delete">
        <div class="form-actions no-color">
            
            <input type="submit" value="Delete" class="btn btn-default" /> |
            <a asp-route-area="management"  asp-action="Index">Back to List</a>
        </div>
    </form>
</div>
