@model Version1.Models.Gallery

@{
    ViewData["Title"] = "Details";
    Layout = "~/Areas/Management/Views/Shared/_ManagementLayout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Gallery</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PhotoTitle)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PhotoTitle)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Album)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Album)
        </dd>
        
        <dt>
            @Html.DisplayNameFor(model => model.CreateDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CreateDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PhotoPath)
        </dt>
        <dd>
           <img src="~/images/Gallery/@Model.PhotoPath"/>
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PhotoSize)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PhotoSize) (bytes)
        </dd>
     
    </dl>
</div>
<div>
    <a asp-area="management" asp-action="Edit" asp-route-id="@Model.PhotoID">Edit</a> |
    <a asp-area="management" asp-action="Index">Back to List</a>
</div>
