@model IEnumerable<Version1.Models.Gallery>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Management/Views/Shared/_ManagementLayout.cshtml";
}

 
    <style>
        body {
            background: #82a1c4;
        }

        #title {
            color: #fff;
            text-align: center;
        }

        #imageGallery {
            list-style: none;
            margin: 0 auto;
            padding: 0;
            display: block;
            max-width: 780px;
            text-align: center;
        }

        .single_image {
            display: inline-block;
            padding: 8px;
            background: white;
            margin: 10px;
            transition: all .2s ease-in-out;
        }

        .borderedImg {
            border: 10px solid rgba(0,0,0,.7);
        }

        #imageGallery .single_image img {
            display: block;
        }

        a {
            text-decoration: none;
        }

        /** Start Coding Here **/
        #overlay {
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            display: none;
            text-align: center;
        }

            #overlay img {
                margin-top: 10%;
            }

            #overlay p {
                color: white;
            }

        img#thumb {
            width: 200px;
        }

            img#thumb:hover {
                z-index: 15;
            }

        #imageGallery li:hover {
            transform: scale(1.2);
            z-index: 10;
        }
    </style>
 
<h2>Gallery</h2>

<p>
    <a class="btn btn-primary"   asp-area="management" asp-action="Create">Create New</a>
</p>
<table id="indextable" class="table">
    <thead>
        <tr>
           
            <th>
                @Html.DisplayNameFor(model => model.PhotoTitle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Album)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Author)
            </th>
            
            <th>
                PHOTO
            </th>
            <th>
                PHOTO DATETIME 
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PhotoSize)
                (bytes)
            </th>
            
            <th></th>
        </tr>
    </thead>
    <tbody id="lol">
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PhotoTitle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Album)
            </td>
            <td>
               @Html.DisplayFor(modelItem => item.Authorinfo.FirstName) @Html.DisplayFor(modelItem => item.Authorinfo.LastName)
            </td>
            <td>
               <img id="iimm" src="~/images/Gallery/@Html.DisplayFor(modelItem => item.PhotoPath)" width="100" height="100" />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreateDate)
            </td>
           
            <td>
                @Html.DisplayFor(modelItem => item.PhotoSize)
            </td>
            
            <td>
                <a asp-area="management" asp-action="Edit" asp-route-id="@item.PhotoID">Edit</a> |
                <a asp-area="management" asp-action="Details" asp-route-id="@item.PhotoID">Details</a> |
                <a asp-area="management" asp-action="Delete" asp-route-id="@item.PhotoID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
@section Scripts {
    <link rel="stylesheet" type="text/css" href="http://cdn.datatables.net/1.10.12/css/jquery.dataTables.css">
    <script type="text/javascript" charset="utf8" src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" charset="utf8" src="http://cdn.datatables.net/1.10.12/js/jquery.dataTables.js"></script>
    <script>
    $(document).ready(function () {
        var      $overlay = $('<div id="overlay"></div>'),
                 $image = $("<img>");
                 $overlay.append($image);
                 $("body").append($overlay);
              
                 $overlay.click(function () {
                     $overlay.hide();
                 });
                 var imgLinks = $('#lol img');
                 imgLinks.click(function () {
                   
                   $image.addClass('borderedImg');
                   var imgLoc = $(this).attr('src');
                   $image.attr('src', imgLoc);
                   $overlay.show();  
               });
        $('#indextable').DataTable({ "columnDefs": [{ "className": "dt-center", "targets": "_all" }] });

     });
    </script>}