@model IEnumerable<Version1.Models.Newsletter>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Management/Views/Shared/_ManagementLayout.cshtml";
}

<h2>Southalive Newsletters</h2>

<p>
    <a asp-route-area="management" asp-action="Create">Create New</a>
</p>
<table class="table" id="NewsletterTable">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NewsletterName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PublishDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Detail)
            </th>
                       
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model)
{
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NewsletterName)
            </td>
            <td>
                @item.PublishDate.ToString().Substring(0,10)
            
                
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Detail)
            </td>
                      
            <td>
                <a asp-route-area="management" asp-action="Edit" asp-route-id="@item.NewsletterId">Edit</a> |
                <a asp-route-area="management" asp-action="Details" asp-route-id="@item.NewsletterId">Details</a> |
                <a asp-route-area="management" asp-action="Delete" asp-route-id="@item.NewsletterId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
 @section Scripts {
    <link rel="stylesheet" type="text/css" href="http://cdn.datatables.net/1.10.12/css/jquery.dataTables.css">
    <script type="text/javascript" charset="utf8" src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" charset="utf8" src="http://cdn.datatables.net/1.10.12/js/jquery.dataTables.js"></script>
    <script>
    $(document).ready(function () {
        $('#NewsletterTable').DataTable({ "columnDefs": [{ "className": "dt-center", "targets": "_all" }] });
     });
    </script>}