@model  Version1.Controllers.News_CensorIndexView

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Management/Views/Shared/_ManagementLayout.cshtml";
}

<h2>Southalive News Censor</h2>

@*----------------------------------Bootstrap Tab Style----------------------------------------*@
<div class="panel panel-default" style="width: 100%;height:100%; padding: 10px; margin: 10px">
    <div id="Tabs" role="tabpanel">
        <!-- Nav tabs -->
        <ul class="nav nav-tabs" role="tablist">
            <li @{if ((Model.WhichTabActive != "Uncensored")) { @Html.Raw("class=\"active\"");} }    >
                <a href="#Censored" aria-controls="Censored" role="tab" data-toggle="tab">
                    Censored News
                </a>
            </li>
            <li @{if ((Model.WhichTabActive == "Uncensored")) { @Html.Raw("class=\"active\"");} }>
            <a href="#Uncensored" aria-controls="Uncensored" role="tab" data-toggle="tab">Uncensored News</a>
            </li>
        </ul>
        <!-- Tab panes -->
        <div class="tab-content" style="padding-top: 20px; height:100%;text-align:center;vertical-align:middle;">
            <div role = "tabpanel" class="tab-pane" id="Censored" style="text-align:center;vertical-align:middle;height:100%;">
           
            
                @{if (Model.CensoredNews.Count == 0)
                    {
                        @Html.Raw(" <label>No Censored News. </label> ");
                    } }
                @*-----------------------------1.Censored News Table------------------------------*@
                @{if (Model.CensoredNews.Count > 0)
                    {
                        <table class="table" id="CensoredNews">
                            <thead>
                                <tr>
                                    <th>
                                        News Type
                                    </th>
                                    <th>
                                        News Title
                                    </th>

                                    <th>
                                        Create Time
                                    </th>
                                    <th>
                                        Show In Mainpage
                                    </th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.CensoredNews)
                                {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.NewsType)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.NewsTitle)
                                        </td>

                                        <td>
                                            @Html.DisplayFor(modelItem => item.CreateTime)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Selected)
                                        </td>
                                        <td>
                                            <a asp-route-area="management" asp-action="UndoCensor" asp-route-id="@item.ID">Undo Censor</a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    }

                }

            </div>

           <div role = "tabpanel" class="tab-pane active" id="Uncensored" style="text-align:center;vertical-align:middle;height:100%;"> 
                
                @*-----------------------------2.UnCensored News Table------------------------------*@
                @{if (Model.UnCensoredNews.Count > 0)
                    { <table class="table" id="UncensoredNews">
                    <thead>
                        <tr>
                            <th>
                                News Type
                            </th>
                            <th>
                                News Title
                            </th>

                            <th>
                                Create Time
                            </th>
                            <th>
                                Show In Mainpage
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.UnCensoredNews)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.NewsType)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.NewsTitle)
                                </td>

                                <td>
                                    @Html.DisplayFor(modelItem => item.CreateTime)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Selected)
                                </td>
                                <td>
                                    <a asp-route-area="management" asp-action="Censor" asp-route-id="@item.ID">Censor</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table> } }
            </div>
        </div>
    </div>
</div>


@section Scripts {


    <link rel="stylesheet" type="text/css" href="http://cdn.datatables.net/1.10.12/css/jquery.dataTables.css">
    <script type="text/javascript" charset="utf8" src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" charset="utf8" src="http://cdn.datatables.net/1.10.12/js/jquery.dataTables.js"></script>
    <script>
        $(document).ready(function () {
            $('#CensoredNews').DataTable({ "columnDefs": [{ "className": "dt-center", "targets": "_all" }] });
            $('#UncensoredNews').DataTable({ "columnDefs": [{ "className": "dt-center", "targets": "_all" }] });

        });
    </script>

}
