@model Version1.Models.News

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Areas/Management/Views/Shared/_ManagementLayout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>News</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NewsTitle)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NewsTitle)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.NewsType)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NewsType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NewsContent)
        </dt>
        <dd>
            <textarea  readonly="readonly"  style="min-width:80%;background-color:white" asp-for="@Model.NewsContent" class="form-control" id="editor1" rows="10" cols="80"></textarea>
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CreateTime)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CreateTime)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.NewsImage)
        </dt>

        <dd>
            <img src="~/images/News/@Model.NewsImage" align="left" width="400" height="200" display=inline>

        </dd>


        <dt>
            @Html.DisplayNameFor(model => model.Selected)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Selected)
        </dd>
        
    
</dl>
    
    <form asp-route-area="management" asp-action="Delete" asp-route-id="@Model.ID">
        <div class="form-actions no-color">
            
            <input type="submit" value="Delete" class="btn btn-default" /> |
            <a asp-route-area="management" asp-action="Index">Back to List</a>
        </div>
    </form>
</div>
