@model IEnumerable<Version1.Models.News>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Management/Views/Shared/_ManagementLayout.cshtml";
}

<h2>Southalive News</h2>

<p>
    <a asp-route-area="management" asp-action="Create">Create New</a>
</p>
<table   id="NewsTable"  class="display" >
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NewsType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NewsTitle)
            </th>           
            <th>
                @Html.DisplayNameFor(model => model.CreateTime)
            </th>                              
            <th>
                @Html.DisplayNameFor(model => model.Selected)
            </th>          
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NewsType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NewsTitle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreateTime)
            </td>                      
            <td>
                @Html.DisplayFor(modelItem => item.Selected)
            </td>            
            <td>
                <a asp-route-area="management" asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-route-area="management" asp-action="Details" asp-route-id="@item.ID">Details</a> |
                <a asp-route-area="management" asp-action="Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>

@section Scripts {
    <link rel="stylesheet" type="text/css" href="http://cdn.datatables.net/1.10.12/css/jquery.dataTables.css">
    <script type="text/javascript" charset="utf8" src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" charset="utf8" src="http://cdn.datatables.net/1.10.12/js/jquery.dataTables.js"></script>    
 <script>
     $(document).ready(function () {      
         $('#NewsTable').DataTable({ "columnDefs": [{ "className": "dt-center", "targets": "_all" }] });
     });
</script>}